Repository SumoLogic/sumologic-documentation, pull requests merged in 2023-12, with the labels that each got.

#3351 Update work-from-home-vpn.md
  docs/observability/work-from-home-vpn.md
Labels: doc:minor edit, cla-signed

#3352 Edit audit index note
  docs/manage/security/audit-indexes/audit-index.md
Labels: doc:minor edit, cla-signed

#3353 Fixed /search CID
  cid-redirects.json
Labels: cla-signed

#3354 Improve outlier rule article
  docs/cse/rules/write-outlier-rule.md
  static/img/cse/outlier-signal-example.png
Labels: doc:update, cla-signed

#3356 Add external URL context action example
  docs/cse/administration/create-cse-context-actions.md
  static/img/cse/context-action-criminal-ip-example.png
Labels: doc:new, cla-signed

#3357 Update .clabot
  .clabot
Labels: cla-signed

#3346 feat(opentelemetry-collector): add some MacOS-specific troubleshooting instructions
  docs/send-data/opentelemetry-collector/install-collector/macos.md
Labels: doc:update, cla-signed, do-not-merge

#3358 Fix broken outbound/ext links
  blog-service/2020/12-31.md
  blog-service/2021/12-31.md
  blog-service/2022/12-31.md
  docs/api/troubleshooting.md
  docs/apm/traces/get-started-transaction-tracing/opentelemetry-instrumentation/istio.md
  docs/cse/ingestion/ingestion-sources-for-cloud-siem/aws-vpc-flow.md
  docs/cse/schema/parsing-language-reference-guide.md
  docs/cse/sensors/network-sensor-deployment-guide.md
  docs/integrations/amazon-aws/eks-control-plane.md
  docs/integrations/containers-orchestration/activemq.md
  docs/integrations/hosts-operating-systems/host-process-metrics.md
  docs/integrations/saas-cloud/slack.md
  docs/integrations/security-threat-detection/observable-networks.md
  docs/integrations/security-threat-detection/sailpoint.md
  docs/integrations/web-servers/nginx-ingress.md
  docs/integrations/web-servers/nginx.md
  docs/manage/manage-subscription/cloud-flex-accounts.md
  docs/observability/sdo/integrate-tools-with-sdo.md
  docs/observability/sdo/set-up-sdo/sdo-setup-with-terraform-script.md
  docs/send-data/hosted-collectors/cloud-to-cloud-integration-framework/sailpoint-source.md
  docs/send-data/opentelemetry-collector/data-source-configurations/additional-configurations-reference.md
Labels: cla-signed

#3362 Fzampori csoar changelog 4th December 2023
  blog-csoar/2023-12-04-application-update.md
Labels: cla-signed

#3364 added missing changelog entry in csoar
  blog-csoar/2023-10-20-application-update.md
Labels: cla-signed

#3340 Create new article for Automation Service Audit Logging
  docs/cloud-soar/audit-event-index.md
  docs/manage/security/audit-indexes/audit-event-index.md
  docs/platform-services/automation-service/automation-service-audit-logging.md
  docs/platform-services/automation-service/index.md
  sidebars.ts
Labels: doc:new, cla-signed, do-not-merge

#3365 wrong file entry moved to Dec04
  blog-csoar/2023-10-20-application-update.md
  blog-csoar/2023-12-04-application-update.md
Labels: cla-signed

#3361 Added subsection for Slack integration, Delivery 2 version
  docs/cloud-soar/automation.md
  docs/cloud-soar/cloud-soar-delivery-2.md
  static/img/cloud-soar/integration-automation-menu-delivery2.png
  static/img/cloud-soar/integration-settings-menu-delivery2.png
  static/img/cloud-soar/integration-slack-bot-user-oauth-token.png
  static/img/cloud-soar/integration-slack-instant-messaging-delivery2.png
  static/img/cloud-soar/integration-slack-scopes-bot-token-1-delivery2.png
  static/img/cloud-soar/integration-slack-scopes-delivery2.png
  static/img/cloud-soar/integration-slack-signing-secret.png
  static/img/cloud-soar/integration-slack-workspace-delivery2.png
  static/img/cloud-soar/integrations-interactivity-delivery2.png
Labels: doc:new, cla-signed, do-not-merge

#3367 Clean up Manage guide index file
  docs/manage/index.md
Labels: doc:minor edit, cla-signed

#3371 Update table-charts.md
  docs/dashboards/panels/table-charts.md
Labels: cla-signed

#3375 Create 2023-12-06-application-update.md
  blog-cse/2023-12-06-application-update.md
Labels: doc:new, cla-signed, do-not-merge

#3374 Add note on layer order
  docs/apm/traces/get-started-transaction-tracing/opentelemetry-instrumentation/aws-lambda/java.md
  docs/apm/traces/get-started-transaction-tracing/opentelemetry-instrumentation/aws-lambda/nodejs.md
  docs/apm/traces/get-started-transaction-tracing/opentelemetry-instrumentation/aws-lambda/python.md
  docs/reuse/apm-traces-layer-order.md
Labels: doc:minor edit, cla-signed

#3307 App Template (For Version 2 apps)
  docs/contributing/templates/app-template-v2.md
  docs/reuse/apps/app-install-v2.md
  docs/reuse/apps/view-dashboards.md
  sidebars.ts
Labels: cla-signed

#3377 Csiem relnotes 2023 12 06
  blog-cse/2023-12-06-application-update.md
Labels: cla-signed

#3382 Remove incorrect screenshot from CrowdStrike Spotlight article
  docs/send-data/hosted-collectors/cloud-to-cloud-integration-framework/crowdstrike-spotlight-source.md
Labels: doc:minor edit, cla-signed

#3379 Update crowdstrike-source.md
  docs/send-data/hosted-collectors/cloud-to-cloud-integration-framework/crowdstrike-source.md
Labels: cla-signed

#3384 Vendors and products for MITRE
  docs/cse/administration/mitre-coverage.md
  docs/cse/schema/create-structured-log-mapping.md
  static/img/cse/mitre-create-vendor-example.png
Labels: doc:update, cla-signed

#3381 Automation service updates
  docs/platform-services/automation-service/automation-service-playbooks.md
  static/img/cse/automations-add-action-node-1.png
  static/img/cse/automations-add-action-node.png
  static/img/cse/automations-add-node.png
  static/img/cse/automations-add-playbook-node.png
  static/img/cse/automations-add-task-node.png
  static/img/cse/automations-add-user-choice-node.png
  static/img/cse/automations-complete-task.png
  static/img/cse/automations-example-task-node.png
  static/img/cse/automations-example-user-choice-node.png
  static/img/cse/automations-placeholder-icon.png
Labels: doc:new, cla-signed

#3190 Update role-capabilities.md with the new View Connections permission
  docs/manage/users-roles/roles/role-capabilities.md
Labels: cla-signed

#3391 Fix image in "Create a Role" article
  docs/manage/users-roles/roles/create-manage-roles.md
  static/img/users-roles/create-new-role.png
Labels: doc:update, cla-signed

#3390 Add automation service role capabilities
  docs/cse/automation/about-automation-service-and-cloud-siem.md
  docs/manage/users-roles/roles/role-capabilities.md
  docs/platform-services/automation-service/about-automation-service.md
  docs/platform-services/automation-service/automation-service-app-central.md
Labels: doc:new, cla-signed

#3380 Add new Helm Chart section
  cid-redirects.json
  docs/integrations/product-list.md
  docs/observability/kubernetes/index.md
  docs/observability/kubernetes/quickstart.md
  docs/send-data/collect-from-other-data-sources/collect-metrics-telegraf/telegraf-collection-architecture.md
  docs/send-data/collect-from-other-data-sources/index.md
  docs/send-data/collect-from-other-data-sources/kubernetes.md
  docs/send-data/index.md
  docs/send-data/kubernetes/index.md
  docs/send-data/kubernetes/v4/helm-chart-overview.md
  docs/send-data/kubernetes/v4/install-helm-chart.md
  sidebars.ts
  tsconfig.json
Labels: cla-signed

#3394 Add Scheduled action type
  docs/platform-services/automation-service/automation-service-playbooks.md
Labels: doc:minor edit, cla-signed

#3386 Update 1password-source.md
  docs/send-data/hosted-collectors/cloud-to-cloud-integration-framework/1password-source.md
Labels: cla-signed

#3396 Update mimecast-source.md
  docs/send-data/hosted-collectors/cloud-to-cloud-integration-framework/mimecast-source.md
Labels: doc:minor edit, cla-signed

#3316 Update AWSO CLI-based onboarding documentation
  cid-redirects.json
  docs/observability/aws/deploy-use-aws-observability/deploy-with-aws-cloudformation/automatic-installation-script.md
  docs/observability/aws/quickstart.md
  sidebars.ts
Labels: cla-signed

#3385 Update source-info.md
  docs/send-data/hosted-collectors/cloud-to-cloud-integration-framework/source-info.md
Labels: cla-signed

#3398 Update .clabot
  .clabot
Labels: cla-signed

#3402 Create 2023-12-14-application-update.md
  blog-cse/2023-12-14-application-update.md
Labels: cla-signed

#3403 Document AWSO Hub Page
  docs/observability/aws/deploy-use-aws-observability/view-dashboards.md
  static/img/observability/aws_observability_hub_page.jpg
Labels: cla-signed

#3404 Update index.md
  docs/observability/aws/index.md
Labels: cla-signed

#3406 Update custom-tags-configuration.md
  docs/apm/traces/get-started-transaction-tracing/opentelemetry-instrumentation/java/custom-tags-configuration.md
Labels: cla-signed

#3399 Release 2 Apps-5
  docs/integrations/saas-cloud/druva-cyber-resilience.md
  docs/integrations/saas-cloud/tenable.md
  docs/integrations/security-threat-detection/alert-logic.md
  docs/integrations/security-threat-detection/zscaler-private-access.md
  docs/integrations/web-servers/heroku.md
Labels: doc:minor edit, cla-signed

#3407 Revert "Update custom-tags-configuration.md"
  docs/apm/traces/get-started-transaction-tracing/opentelemetry-instrumentation/java/custom-tags-configuration.md
Labels: cla-signed

#3410 Fix broken link in AWS Lambda Python article
  docs/apm/traces/get-started-transaction-tracing/opentelemetry-instrumentation/aws-lambda/python.md
Labels: doc:minor edit, cla-signed

#3411 Update the Metrics Query API article
  docs/api/metrics-query.md
Labels: doc:update, cla-signed

#3412 Fix broken external links
  blog-collector/2019/12-31.md
  docs/cse/ingestion/ingestion-sources-for-cloud-siem/kemp-loadmaster.md
  docs/dashboards-classic/about.md
  docs/integrations/containers-orchestration/activemq.md
  docs/integrations/containers-orchestration/rabbitmq.md
  docs/integrations/databases/cassandra.md
  docs/integrations/databases/couchbase.md
  docs/integrations/databases/elasticsearch.md
  docs/integrations/databases/mariadb.md
  docs/integrations/databases/memcached.md
  docs/integrations/databases/mongodb.md
  docs/integrations/databases/oracle.md
  docs/integrations/google/cloud-backup-for-gke.md
  docs/integrations/microsoft-azure/azure-data-factory.md
  docs/integrations/microsoft-azure/sql-server.md
  docs/integrations/partner-ecosystem-apps.md
  docs/integrations/product-list.md
  docs/integrations/saas-cloud/miro.md
  docs/integrations/security-threat-detection/cisco-meraki.md
  docs/integrations/web-servers/apache-tomcat.md
  docs/integrations/web-servers/haproxy.md
  docs/integrations/web-servers/iis-10.md
  docs/integrations/web-servers/nginx.md
  docs/integrations/web-servers/squid-proxy.md
  docs/integrations/web-servers/varnish.md
  docs/send-data/collect-from-other-data-sources/integrate-halo-event-logs.md
  docs/send-data/collect-from-other-data-sources/kubernetes-fluentd-plugin.md
  docs/send-data/hosted-collectors/cloud-to-cloud-integration-framework/miro-source.md
  docs/send-data/hosted-collectors/cloud-to-cloud-integration-framework/palo-alto-cortex-xdr-source.md
  docs/send-data/hosted-collectors/cloud-to-cloud-integration-framework/salesforce-source.md
Labels: cla-signed

#3413 Monitors timezone update
  blog-service/2023-11-07-monitors.md
Labels: cla-signed

#3408 Flex Tier placeholders
  static/files/flex-tier/index.html
  static/files/flex-tier/page1.html
  static/files/flex-tier/page2.html
Labels: cla-signed

#3415 Update .clabot
  .clabot
Labels: cla-signed

#3405 Updated filter template variables doc
  docs/dashboards/filter-template-variables.md
  static/img/dashboards-new/filter-template-variables/Create-Template-Variable-dialog.png
  static/img/dashboards-new/filter-template-variables/Variable-for-logs-search.png
  static/img/dashboards-new/filter-template-variables/dashboard-new-metrics-metadata-search-variable.png
  static/img/dashboards-new/filter-template-variables/edit-variable-dialog.png
Labels: cla-signed

#3418 Update mongodb-atlas.md
  docs/integrations/databases/mongodb-atlas.md
Labels: cla-signed

#3378 cloud functions, cloud sql, compute engine - app changes - inclusion of metric collection and dash…
  docs/integrations/google/cloud-functions.md
  docs/integrations/google/cloud-sql.md
  docs/integrations/google/compute-engine.md
Labels: cla-signed

#3416 Release note for Auto Discovery feature
  blog-service/2023-12-18-auto-discovery.md
Labels: cla-signed, do-not-merge, hot🔥

#3420 Fix typo in Auto Discovery release note
  blog-service/2023-12-18-auto-discovery.md
Labels: doc:minor edit, cla-signed

#3414 Fix AWS Observability Quickstart link
  docs/get-started/quickstart.md
Labels: cla-signed

#3421 Update RBAC for Indexes beta article
  docs/manage/users-roles/roles/rbac-for-indexes.md
  static/img/users-roles/advanced-filter.png
  static/img/users-roles/create-new-role-index-based-boxed.png
  static/img/users-roles/index-based-filter.png
Labels: doc:update, cla-signed

#3171 Algolia events setup (src/theme/SearchBar.js)
  src/theme/SearchBar.js
Labels: cla-signed, do-not-merge

#3318 Replace generic App Install instructions with /reuse/app-install
  docs/apm/traces/tracing-dashboards.md
  docs/integrations/amazon-aws/api-gateway.md
  docs/integrations/amazon-aws/application-load-balancer.md
  docs/integrations/amazon-aws/classic-load-balancer.md
  docs/integrations/amazon-aws/cost-explorer.md
  docs/integrations/amazon-aws/dynamodb.md
  docs/integrations/amazon-aws/ec2-cloudwatch-metrics.md
  docs/integrations/amazon-aws/ec2-host-metrics.md
  docs/integrations/amazon-aws/eks-control-plane.md
  docs/integrations/amazon-aws/elastic-container-service-container-insights-cloudwatch.md
  docs/integrations/amazon-aws/elastic-container-service.md
  docs/integrations/amazon-aws/elasticache.md
  docs/integrations/amazon-aws/global-intelligence-cloudtrail-secops.md
  docs/integrations/amazon-aws/inspector-classic.md
  docs/integrations/amazon-aws/lambda.md
  docs/integrations/amazon-aws/network-load-balancer.md
  docs/integrations/amazon-aws/rds.md
  docs/integrations/amazon-aws/route-53-resolver-security.md
  docs/integrations/amazon-aws/sns.md
  docs/integrations/amazon-aws/sqs.md
  docs/integrations/app-development/gitlab.md
  docs/integrations/app-development/puppet.md
  docs/integrations/containers-orchestration/docker-ulm.md
  docs/integrations/containers-orchestration/rabbitmq.md
  docs/integrations/databases/cassandra.md
  docs/integrations/databases/elasticsearch.md
  docs/integrations/databases/memcached.md
  docs/integrations/databases/mongodb.md
  docs/integrations/databases/mysql.md
  docs/integrations/databases/oracle.md
  docs/integrations/databases/postgresql.md
  docs/integrations/databases/redis.md
  docs/integrations/google/cloud-vpc.md
  docs/integrations/google/kubernetes-engine.md
  docs/integrations/google/workspace/install-app-dashboards.md
  docs/integrations/microsoft-azure/microsoft-graph-identity-protection.md
  docs/integrations/microsoft-azure/office-365.md
  docs/integrations/microsoft-azure/sql-server.md
  docs/integrations/saas-cloud/microsoft-graph-azure-ad-reporting.md
  docs/integrations/saas-cloud/proofpoint-on-demand.md
  docs/integrations/security-threat-detection/twistlock.md
  docs/integrations/web-servers/nginx.md
  docs/observability/sdo/set-up-sdo/sdo-manual-configuration.md
Labels: cla-signed

#3429 Added section where the various use cases relating to the integration of Slack with the CSOAR are explained
  docs/cloud-soar/cloud-soar-delivery-2.md
  static/img/cloud-soar/archived-slack-channel.png
  static/img/cloud-soar/created-incident-fs.png
  static/img/cloud-soar/created-slack-channel.png
  static/img/cloud-soar/war-room-chat-section.png
Labels: doc:update, cla-signed

#3430 New update integrations section
  docs/cloud-soar/automation.md
  docs/platform-services/automation-service/automation-service-app-central.md
  static/img/cloud-soar/install-already-installed-integration.png
  static/img/cloud-soar/installed-detail.png
  static/img/cloud-soar/installed-integration.png
  static/img/cloud-soar/integration-all-actions.png
  static/img/cloud-soar/integration-code-mode.png
  static/img/cloud-soar/integration-download.png
  static/img/cloud-soar/integration-installed.png
  static/img/cloud-soar/integration-update-2.png
  static/img/cloud-soar/integration-update-complete.png
  static/img/cloud-soar/integration-update-version.png
  static/img/cloud-soar/integration-with-all-actions.png
  static/img/cloud-soar/new-integration-update.png
  static/img/platform-services/install-already-installed-integration.png
  static/img/platform-services/installed-detail.png
  static/img/platform-services/installed-integration.png
  static/img/platform-services/integration-all-actions.png
  static/img/platform-services/integration-code-mode.png
  static/img/platform-services/integration-download.png
  static/img/platform-services/integration-installed.png
  static/img/platform-services/integration-update-2.png
  static/img/platform-services/integration-update-complete.png
  static/img/platform-services/integration-update-version.png
  static/img/platform-services/integration-with-all-actions.png
  static/img/platform-services/new-integration-update.png
Labels: doc:new, cla-signed

#3436 Updating allowed values for time range in monitors
  docs/alerts/monitors/create-monitor.md
Labels: cla-signed

#3435 Add videos to articles on AWS Observability, Cloud SIEM parsing, and Cloud SOAR dashboards
  docs/cloud-soar/main-menu.md
  docs/cse/schema/parser-editor.md
  docs/observability/aws/about.md
Labels: doc:update, cla-signed

#3442 Update deploy-with-terraform.md
  docs/observability/aws/deploy-use-aws-observability/deploy-with-terraform.md
Labels: cla-signed, hot🔥

#3443 Update to Insight Trainer article
  docs/cse/rules/insight-trainer.md
Labels: doc:update, cla-signed

#3444 Nested playbooks
  docs/cloud-soar/automation.md
  static/img/cloud-soar/add-playbook-node.png
  static/img/cloud-soar/playbook-add-node-2.png
  static/img/cloud-soar/playbook-add-node.png
  static/img/cloud-soar/playbook-edit-parameters.png
  static/img/cloud-soar/playbook-nested-option.png
  static/img/cloud-soar/playbook-parameters.png
  static/img/cloud-soar/playbook-parent-parameters.png
  static/img/cloud-soar/playbook-select-child-playbook.png
  static/img/cloud-soar/playbook-start-node.png
Labels: doc:new, cla-signed

#3445 User details note for Cloud SOAR
  docs/cloud-soar/cloud-soar-integration-framework.md
Labels: doc:minor edit, cla-signed

#3448 Add triggers documentation
  docs/cloud-soar/cloud-soar-integration-framework.md
  static/img/cloud-soar/custom-trigger-button-in-ui.png
  static/img/cloud-soar/custom-trigger-button.png
  static/img/cloud-soar/trigger-code-example.png
  static/img/cloud-soar/webook-trigger-api.png
Labels: doc:new, cla-signed
